<!DOCTYPE html>

<html>
<head>
    <link href="~/css/bundle.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
</head>
<body>

    @RenderBody()
    <script src="~/js/bundle.js"></script>
</body>
</html>
